<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MvcMarket.BackEnd.Properties.Settings.MvcMarketConnectionString"
            connectionString="Data Source=NETGUYPC;Initial Catalog=MvcMarket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>